* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pontano Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}
/*--NAVBAR--*/
.container-fluid  {
    font-size: 15px;
}
/*-----------------------*/
.container-1 {
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 200px 0px;
    background-image: url(https://images.alphacoders.com/110/110741.jpg);
}
.text-center-1 {
    background-color: rgba(150, 150, 150, 0.644);
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
}
.container {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.623);
  padding: 100px 0px;
  font-size: 15px;
  overflow: hidden;
}
/*-------------------------------*/
.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100wv;
    padding: 50px 20px 100px 20px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.623);
}
.card-container {
    display: flex;
    width: 1200px;
    height: auto;

}
.text-center {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.623);
}
.foto {
    border-right: 1px solid;
}
.parrafo {
    position: relative;
}
.foto, .parrafo {
    padding: 20px;
    text-align: center;
}
.parrafo p {
    padding: 20px;
    color: rgba(0, 0, 0, 0.623);
}
@media (max-width:640px) {
    .card-container {
        display: block;
    }
}

/*FOOTER*/



    footer{
            
            position:static;
            margin-bottom: 0;
            left: 0;
            right: 0;
            background: #111;
            height: auto;
            width: 100%;
            padding-top: 40px;
            color: #fff;
        }
    .footer-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    .footer-content h3{
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
        }
    .footer-content p{
            max-width: 500px;
            margin: 10px auto;
            line-height: 10px;
            font-size: 15px;
        }
    .redes{
            list-style: none;
            display: flex;
            align-items: center;
            margin: 15px;
        }
    .redes li{
            margin: 0px 35px 0px 0px;
        }
    .redes li a:hover {
            background: rgba(32, 32, 32, 0.932);
            color: rgb(247, 170, 27);
            transform: scaleX(1);
            transition: 1s;
            border-radius: 20px;
        }
        
    .redes a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.822);
        }
    
    .footer-cop{
            background: #000;
            width: 100vw;
            padding: 20px 0;
            text-align: center;
        }
    .footer-cop p{
            font-size: 14px;
            word-spacing: 2px;
        }
